.followBtn {
  :global {
    .ant-btn {
      height: 140px !important;
      border: none !important;

      &:hover,
      &:active {
        color: #000 !important;
        border-color: #fff !important;
      }
    }
  }
}

:global {
  .followStyle {
    margin-right: 0 !important;
    top: 0 !important;

    .socialFollow {
      a {
        padding: 20px;

        i {
          font-size: 20px;
          color: gray;

          &:hover {
            color: burlywood;
          }
        }
      }
    }
  }
}