.HomePage {
  ul {
    margin-bottom: 0 !important;
    display: flex;
    list-style: none;

    li {
      padding: 50px 25px;

      a {
        text-decoration: none;
        color: #000;
        font-size: 22px;
        text-transform: uppercase;
      }
    }
  }
  .active{
    background: red;
  }
  .cart{
    i{
      padding: 50px 25px;
    }
  }
}